.header{
    display: flex;
    align-items: center;
    width: 1200px;
    height: 94px;
    background: #fff;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;

}
